In [1]:
#importing necessary libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.neighbors import KNeighborsClassifier

In [2]:
#adding the datasets
CHILD = pd.read_csv('/Users/vishnuvardhan/Downloads/Children_ASD.csv')
TEEN = pd.read_csv('/Users/vishnuvardhan/Downloads/Teen_ASD.csv')
ADULT = pd.read_csv('/Users/vishnuvardhan/Downloads/Adult_ASD.csv')

In [3]:
#returns first 5 tuples of child dataframe
CHILD.head()

,Unnamed: 0,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10_Autism_Spectrum_Quotient,Age_Years,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Who_completed_the_test,ASD_traits
0,0,0,0,0,0,0,0,1,1,0,1,2.0,F,Middle Eastern,Yes,No,Family Member,No
1,1,1,1,0,0,0,1,1,0,0,0,3.0,M,White European,Yes,No,Family Member,Yes
2,2,1,0,0,0,0,0,1,1,0,1,3.0,M,Middle Eastern,Yes,No,Family Member,Yes
3,3,1,1,1,1,1,1,1,1,1,1,2.0,M,Hispanic,No,No,Family Member,Yes
4,4,1,1,0,1,1,1,1,1,1,1,1.0,F,White European,No,Yes,Family Member,Yes

In [4]:
#returns last 5 tuples of child dataframe
CHILD.tail()

,Unnamed: 0,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10_Autism_Spectrum_Quotient,Age_Years,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Who_completed_the_test,ASD_traits
2221,2221,0,0,0,0,0,0,0,0,0,1,7.0,M,Middle Eastern,No,No,Health Care Professional,No
2222,2222,0,0,0,0,0,0,0,0,0,1,7.0,F,Asian,No,No,Health Care Professional,No
2223,2223,0,0,0,0,0,0,0,0,0,1,7.0,M,Middle Eastern,No,No,Health Care Professional,No
2224,2224,0,0,0,0,0,0,0,0,0,1,7.0,M,White European,No,No,Health Care Professional,Yes
2225,2225,0,0,0,0,0,0,0,0,0,1,7.0,M,White European,No,No,Health Care Professional,Yes

In [5]:
#returns first 5 tuples of teen dataframe
TEEN.head()

,Unnamed: 0,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10_Autism_Spectrum_Quotient,Age_Years,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Who_completed_the_test,ASD_traits
0,0,1,1,0,1,0,0,0,1,0,1,24.0,M,Latino,No,Yes,Self,No
1,1,0,1,0,0,0,0,0,1,0,0,17.0,F,Black,No,No,Self,No
2,2,1,1,1,1,0,1,1,1,1,0,17.0,M,Asian,Yes,Yes,Health Care Professional,Yes
3,3,0,1,0,1,1,1,1,0,0,1,18.0,F,Middle Eastern,No,No,Parent,No
4,4,0,1,1,1,1,1,0,0,1,0,17.0,F,Asian,No,No,Family Member,No

In [6]:
#returns last 5 tuples of teen dataframe
TEEN.tail()

,Unnamed: 0,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10_Autism_Spectrum_Quotient,Age_Years,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Who_completed_the_test,ASD_traits
1097,715,0,0,0,0,0,0,0,0,0,0,14.0,M,White European,No,No,Health Care Professional,Yes
1098,716,0,0,0,0,0,0,0,0,0,0,14.0,F,South Asian,No,No,Health Care Professional,No
1099,717,0,0,0,0,0,0,0,0,0,0,14.0,M,White European,No,No,Health Care Professional,Yes
1100,718,0,0,0,0,0,0,0,0,0,0,14.0,F,South Asian,No,No,Health Care Professional,No
1101,719,0,0,0,0,0,0,0,0,0,0,14.0,M,Middle Eastern,No,No,Health Care Professional,No

In [7]:
#returns first 5 tuples of adult dataframe
ADULT.head()

,Unnamed: 0,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10_Autism_Spectrum_Quotient,Age_Years,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Who_completed_the_test,ASD_traits
0,0,1,1,1,1,0,0,1,1,0,0,26.0,F,White-European,No,No,Self,No
1,1,1,1,0,1,1,0,1,1,1,1,27.0,M,Latino,Yes,Yes,Parent,Yes
2,2,1,1,0,1,0,0,1,1,0,1,35.0,F,White-European,No,Yes,Self,No
3,3,1,0,0,0,0,0,0,1,0,0,40.0,F,Asian,No,No,Family Member,No
4,4,1,1,1,1,1,0,1,1,1,1,36.0,M,Others,Yes,No,Self,Yes

In [8]:
#returns last 5 tuples of adult dataframe
ADULT.tail()

,Unnamed: 0,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10_Autism_Spectrum_Quotient,Age_Years,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Who_completed_the_test,ASD_traits
410,410,1,1,1,1,1,1,1,1,1,1,27.0,F,Pacifica,No,No,Self,Yes
411,411,0,1,0,1,1,0,1,1,1,1,25.0,F,White-European,No,No,Self,Yes
412,412,1,0,0,0,0,0,0,1,0,1,34.0,M,Hispanic,No,No,Parent,No
413,413,1,0,0,1,1,0,1,0,1,1,35.0,M,South Asian,No,No,Self,No
414,414,1,0,1,1,1,0,1,1,1,1,26.0,F,White-European,No,No,Self,Yes

In [9]:
CHILD.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2226 entries, 0 to 2225
Data columns (total 18 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    2226 non-null   int64
 1   A1                            2226 non-null   int64
 2   A2                            2226 non-null   int64
 3   A3                            2226 non-null   int64
 4   A4                            2226 non-null   int64
 5   A5                            2226 non-null   int64
 6   A6                            2226 non-null   int64
 7   A7                            2226 non-null   int64
 8   A8                            2226 non-null   int64
 9   A9                            2226 non-null   int64
 10  A10_Autism_Spectrum_Quotient  2226 non-null   int64
 11  Age_Years                     2226 non-null   float64
 12  Sex                           2226 non-null   object
 13  Ethnicity                     2226 non-null   object
 14  Jaundice                      2226 non-null   object
 15  Family_mem_with_ASD           2226 non-null   object
 16  Who_completed_the_test        2226 non-null   object
 17  ASD_traits                    2226 non-null   object
dtypes: float64(1), int64(11), object(6)
memory usage: 313.2+ KB

In [10]:
TEEN.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1102 entries, 0 to 1101
Data columns (total 18 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    1102 non-null   int64
 1   A1                            1102 non-null   int64
 2   A2                            1102 non-null   int64
 3   A3                            1102 non-null   int64
 4   A4                            1102 non-null   int64
 5   A5                            1102 non-null   int64
 6   A6                            1102 non-null   int64
 7   A7                            1102 non-null   int64
 8   A8                            1102 non-null   int64
 9   A9                            1102 non-null   int64
 10  A10_Autism_Spectrum_Quotient  1102 non-null   int64
 11  Age_Years                     1102 non-null   float64
 12  Sex                           1102 non-null   object
 13  Ethnicity                     1102 non-null   object
 14  Jaundice                      1102 non-null   object
 15  Family_mem_with_ASD           1102 non-null   object
 16  Who_completed_the_test        1102 non-null   object
 17  ASD_traits                    1102 non-null   object
dtypes: float64(1), int64(11), object(6)
memory usage: 155.1+ KB

In [11]:
ADULT.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 415 entries, 0 to 414
Data columns (total 18 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    415 non-null    int64
 1   A1                            415 non-null    int64
 2   A2                            415 non-null    int64
 3   A3                            415 non-null    int64
 4   A4                            415 non-null    int64
 5   A5                            415 non-null    int64
 6   A6                            415 non-null    int64
 7   A7                            415 non-null    int64
 8   A8                            415 non-null    int64
 9   A9                            415 non-null    int64
 10  A10_Autism_Spectrum_Quotient  415 non-null    int64
 11  Age_Years                     415 non-null    float64
 12  Sex                           415 non-null    object
 13  Ethnicity                     415 non-null    object
 14  Jaundice                      415 non-null    object
 15  Family_mem_with_ASD           415 non-null    object
 16  Who_completed_the_test        415 non-null    object
 17  ASD_traits                    415 non-null    object
dtypes: float64(1), int64(11), object(6)
memory usage: 58.5+ KB

In [12]:
CHILD.shape

(2226, 18)

In [13]:
TEEN.shape

(1102, 18)

In [14]:
ADULT.shape

(415, 18)

In [15]:
CHILD.describe()

,Unnamed: 0,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10_Autism_Spectrum_Quotient,Age_Years
count,2226.000000,2226.000000,2226.000000,2226.000000,2226.000000,2226.000000,2226.000000,2226.000000,2226.000000,2226.000000,2226.000000,2226.000000
mean,1112.500000,0.432165,0.345463,0.311321,0.395777,0.403863,0.440252,0.504942,0.356244,0.371518,0.550764,4.320755
std,642.735171,0.495488,0.475626,0.463138,0.489127,0.490781,0.496529,0.500088,0.478996,0.483319,0.497528,2.736272
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,556.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
50%,1112.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,3.000000
75%,1668.750000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,7.000000
max,2225.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,10.000000

In [16]:
CHILD.describe(include='all')

,Unnamed: 0,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10_Autism_Spectrum_Quotient,Age_Years,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Who_completed_the_test,ASD_traits
count,2226.000000,2226.000000,2226.000000,2226.000000,2226.000000,2226.000000,2226.000000,2226.000000,2226.000000,2226.000000,2226.000000,2226.000000,2226,2226,2226,2226,2226,2226
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,11,2,2,5,2
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,White European,Yes,No,Family Member,Yes
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1610,661,1223,1649,1483,1372
mean,1112.500000,0.432165,0.345463,0.311321,0.395777,0.403863,0.440252,0.504942,0.356244,0.371518,0.550764,4.320755,NaN,NaN,NaN,NaN,NaN,NaN
std,642.735171,0.495488,0.475626,0.463138,0.489127,0.490781,0.496529,0.500088,0.478996,0.483319,0.497528,2.736272,NaN,NaN,NaN,NaN,NaN,NaN
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN
25%,556.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,NaN,NaN,NaN,NaN,NaN,NaN
50%,1112.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,3.000000,NaN,NaN,NaN,NaN,NaN,NaN
75%,1668.750000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,7.000000,NaN,NaN,NaN,NaN,NaN,NaN
max,2225.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,10.000000,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
CHILD['ASD_traits'].value_counts()

ASD_traits
Yes    1372
No      854
Name: count, dtype: int64

In [18]:
TEEN['ASD_traits'].value_counts()

ASD_traits
No     611
Yes    491
Name: count, dtype: int64

In [19]:
ADULT['ASD_traits'].value_counts()

ASD_traits
No     287
Yes    128
Name: count, dtype: int64

In [20]:
CHILD.groupby('ASD_traits').mean(numeric_only=True)

,Unnamed: 0,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10_Autism_Spectrum_Quotient,Age_Years
ASD_traits,,,,,,,,,,,,
No,1246.870023,0.120609,0.066745,0.063232,0.087822,0.069087,0.099532,0.160422,0.097190,0.035129,0.474239,4.721311
Yes,1028.861516,0.626093,0.518950,0.465743,0.587464,0.612245,0.652332,0.719388,0.517493,0.580904,0.598397,4.071429

In [21]:
TEEN.groupby('ASD_traits').mean(numeric_only=True)

,Unnamed: 0,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10_Autism_Spectrum_Quotient,Age_Years
ASD_traits,,,,,,,,,,,,
No,315.281506,0.283142,0.158756,0.139116,0.160393,0.148936,0.078560,0.155483,0.242226,0.062193,0.338789,16.718494
Yes,283.042770,0.531568,0.411405,0.393075,0.482688,0.515275,0.533605,0.549898,0.443992,0.492872,0.458248,15.073320

In [22]:
ADULT.groupby('ASD_traits').mean(numeric_only=True)

,Unnamed: 0,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10_Autism_Spectrum_Quotient,Age_Years
ASD_traits,,,,,,,,,,,,
No,201.731707,0.620209,0.344948,0.327526,0.337979,0.317073,0.111498,0.317073,0.557491,0.153310,0.477352,35.61324
Yes,218.812500,0.953125,0.765625,0.804688,0.906250,0.960938,0.734375,0.656250,0.828125,0.851562,0.882812,36.46875

In [23]:
# separating the data and labels
X = CHILD.drop(columns = 'ASD_traits', axis=1)
Y = CHILD['ASD_traits']

In [24]:
# separating the data and labels
X = TEEN.drop(columns = 'ASD_traits', axis=1)
Y = TEEN['ASD_traits']

In [25]:
# separating the data and labels
X = ADULT.drop(columns = 'ASD_traits', axis=1)
Y = ADULT['ASD_traits']

In [26]:
X_child = CHILD.drop(columns = 'ASD_traits', axis=1)
Y_child = CHILD['ASD_traits']
X_teen = TEEN.drop(columns = 'ASD_traits', axis=1)
Y_teen = TEEN['ASD_traits']
X_adult = ADULT.drop(columns = 'ASD_traits', axis=1)
Y_adult = ADULT['ASD_traits']

In [27]:
X_child.head()
#do for both

,Unnamed: 0,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10_Autism_Spectrum_Quotient,Age_Years,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Who_completed_the_test
0,0,0,0,0,0,0,0,1,1,0,1,2.0,F,Middle Eastern,Yes,No,Family Member
1,1,1,1,0,0,0,1,1,0,0,0,3.0,M,White European,Yes,No,Family Member
2,2,1,0,0,0,0,0,1,1,0,1,3.0,M,Middle Eastern,Yes,No,Family Member
3,3,1,1,1,1,1,1,1,1,1,1,2.0,M,Hispanic,No,No,Family Member
4,4,1,1,0,1,1,1,1,1,1,1,1.0,F,White European,No,Yes,Family Member

In [28]:
# Create separate scaler and label encoder instances for each dataset
scaler_child = StandardScaler()
scaler_teen = StandardScaler()
scaler_adult = StandardScaler()

label_child = LabelEncoder()
label_teen = LabelEncoder()
label_adult = LabelEncoder()

In [29]:
numerical_cols = ['A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9', 'A10_Autism_Spectrum_Quotient', 'Age_Years']
categorical_cols = ['Sex', 'Ethnicity', 'Jaundice', 'Family_mem_with_ASD', 'Who_completed_the_test']

In [30]:
X_child_std = pd.DataFrame(scaler_child.fit_transform(X_child[numerical_cols]), columns=numerical_cols, index=X_child.index)
for col in categorical_cols:
    X_child_std[col] = label_child.fit_transform(X_child[col])

In [31]:
X_adult_std = pd.DataFrame(scaler_adult.fit_transform(X_adult[numerical_cols]), columns=numerical_cols, index=X_adult.index)
for col in categorical_cols:
    X_adult_std[col] = label_adult.fit_transform(X_adult[col])

In [32]:
X_teen_std = pd.DataFrame(scaler_teen.fit_transform(X_teen[numerical_cols]), columns=numerical_cols, index=X_teen.index)
for col in categorical_cols:
    X_teen_std[col] = label_teen.fit_transform(X_teen[col])

In [33]:
print(X_child_std)

            A1        A2       A3        A4        A5        A6        A7  \
0    -0.872397 -0.726496 -0.67235 -0.809332 -0.823084 -0.886858  0.990165
1     1.146268  1.376470 -0.67235 -0.809332 -0.823084  1.127576  0.990165
2     1.146268 -0.726496 -0.67235 -0.809332 -0.823084 -0.886858  0.990165
3     1.146268  1.376470  1.48732  1.235587  1.214942  1.127576  0.990165
4     1.146268  1.376470 -0.67235  1.235587  1.214942  1.127576  0.990165
...        ...       ...      ...       ...       ...       ...       ...
2221 -0.872397 -0.726496 -0.67235 -0.809332 -0.823084 -0.886858 -1.009933
2222 -0.872397 -0.726496 -0.67235 -0.809332 -0.823084 -0.886858 -1.009933
2223 -0.872397 -0.726496 -0.67235 -0.809332 -0.823084 -0.886858 -1.009933
2224 -0.872397 -0.726496 -0.67235 -0.809332 -0.823084 -0.886858 -1.009933
2225 -0.872397 -0.726496 -0.67235 -0.809332 -0.823084 -0.886858 -1.009933

            A8        A9  A10_Autism_Spectrum_Quotient  Age_Years  Sex  \
0     1.344270 -0.768854                      0.903139  -0.848335    0
1    -0.743898 -0.768854                     -1.107249  -0.482793    1
2     1.344270 -0.768854                      0.903139  -0.482793    1
3     1.344270  1.300637                      0.903139  -0.848335    1
4     1.344270  1.300637                      0.903139  -1.213878    0
...        ...       ...                           ...        ...  ...
2221 -0.743898 -0.768854                      0.903139   0.979379    1
2222 -0.743898 -0.768854                      0.903139   0.979379    0
2223 -0.743898 -0.768854                      0.903139   0.979379    1
2224 -0.743898 -0.768854                      0.903139   0.979379    1
2225 -0.743898 -0.768854                      0.903139   0.979379    1

      Ethnicity  Jaundice  Family_mem_with_ASD  Who_completed_the_test
0             4         1                    0                       0
1            10         1                    0                       0
2             4         1                    0                       0
3             2         0                    0                       0
4            10         0                    1                       0
...         ...       ...                  ...                     ...
2221          4         0                    0                       1
2222          0         0                    0                       1
2223          4         0                    0                       1
2224         10         0                    0                       1
2225         10         0                    0                       1

[2226 rows x 16 columns]

In [34]:
print(X_teen_std)

            A1        A2        A3        A4        A5        A6        A7  \
0     1.240633  1.638786 -0.580843  1.513127 -0.673666 -0.625631 -0.703741
1    -0.806040  1.638786 -0.580843 -0.660883 -0.673666 -0.625631 -0.703741
2     1.240633  1.638786  1.721635  1.513127 -0.673666  1.598386  1.420978
3    -0.806040  1.638786 -0.580843  1.513127  1.484415  1.598386  1.420978
4    -0.806040  1.638786  1.721635  1.513127  1.484415  1.598386 -0.703741
...        ...       ...       ...       ...       ...       ...       ...
1097 -0.806040 -0.610208 -0.580843 -0.660883 -0.673666 -0.625631 -0.703741
1098 -0.806040 -0.610208 -0.580843 -0.660883 -0.673666 -0.625631 -0.703741
1099 -0.806040 -0.610208 -0.580843 -0.660883 -0.673666 -0.625631 -0.703741
1100 -0.806040 -0.610208 -0.580843 -0.660883 -0.673666 -0.625631 -0.703741
1101 -0.806040 -0.610208 -0.580843 -0.660883 -0.673666 -0.625631 -0.703741

            A8        A9  A10_Autism_Spectrum_Quotient  Age_Years  Sex  \
0     1.418072 -0.583637                      1.245362   2.525973    1
1     1.418072 -0.583637                     -0.802980   0.319751    0
2     1.418072  1.713393                     -0.802980   0.319751    1
3    -0.705183 -0.583637                      1.245362   0.634925    0
4    -0.705183  1.713393                     -0.802980   0.319751    0
...        ...       ...                           ...        ...  ...
1097 -0.705183 -0.583637                     -0.802980  -0.625773    1
1098 -0.705183 -0.583637                     -0.802980  -0.625773    0
1099 -0.705183 -0.583637                     -0.802980  -0.625773    1
1100 -0.705183 -0.583637                     -0.802980  -0.625773    0
1101 -0.705183 -0.583637                     -0.802980  -0.625773    1

      Ethnicity  Jaundice  Family_mem_with_ASD  Who_completed_the_test
0             3         0                    1                       6
1             1         0                    0                       6
2             0         1                    1                       1
3             4         0                    0                       3
4             0         0                    0                       0
...         ...       ...                  ...                     ...
1097         11         0                    0                       1
1098          9         0                    0                       1
1099         11         0                    0                       1
1100          9         0                    0                       1
1101          4         0                    0                       1

[1102 rows x 16 columns]

In [35]:
X_child=X_child_std
Y_child_std = label_child.fit_transform(CHILD['ASD_traits'])

In [36]:
X_adult=X_adult_std
Y_adult_std = label_adult.fit_transform(ADULT['ASD_traits'])

In [37]:
X_teen=X_teen_std
Y_teen_std = label_teen.fit_transform(TEEN['ASD_traits'])

In [38]:
X_child_train, X_child_test, Y_child_train, Y_child_test = train_test_split(X_child,Y_child, test_size = 0.2, stratify=Y_child, random_state=2)

In [39]:
X_teen_train, X_teen_test, Y_teen_train, Y_teen_test = train_test_split(X_teen,Y_teen, test_size = 0.2, stratify=Y_teen, random_state=2)

In [40]:
X_adult_train, X_adult_test, Y_adult_train, Y_adult_test = train_test_split(X_adult,Y_adult, test_size = 0.2, stratify=Y_adult, random_state=2)

In [41]:
print(X_child.shape, X_child_train.shape, X_child_test.shape)

(2226, 16) (1780, 16) (446, 16)

In [42]:
print(X_teen.shape, X_teen_train.shape, X_teen_test.shape)

(1102, 16) (881, 16) (221, 16)

In [43]:
print(X_adult.shape, X_adult_train.shape, X_adult_test.shape)

(415, 16) (332, 16) (83, 16)

In [44]:
# Create a KNN classifier
classifier_knn_c = KNeighborsClassifier()
classifier_knn_t = KNeighborsClassifier()
classifier_knn_a = KNeighborsClassifier()

In [45]:
# Fit the classifier on the training data
classifier_knn_c.fit(X_child_train, Y_child_train)

KNeighborsClassifier()

In [46]:
# Fit the classifier on the training data
classifier_knn_t.fit(X_teen_train, Y_teen_train)

KNeighborsClassifier()

In [47]:
# Fit the classifier on the training data
classifier_knn_a.fit(X_adult_train, Y_adult_train)

KNeighborsClassifier()

In [48]:
X_child_train_prediction = classifier_knn_c.predict(X_child_train.values)
training_data_accuracy = accuracy_score(X_child_train_prediction, Y_child_train)

print('Accuracy score of the training data : ', training_data_accuracy)

Accuracy score of the training data :  0.9707865168539326

/Users/vishnuvardhan/anaconda3/lib/python3.11/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

In [49]:

print('Accuracy score of the training data : ', training_data_accuracy)

Accuracy score of the training data :  0.9707865168539326

In [50]:
X_teen_train_prediction = classifier_knn_t.predict(X_teen_train.values)
training_data_accuracy = accuracy_score(X_teen_train_prediction, Y_teen_train)

print('Accuracy score of the training data : ', training_data_accuracy)

/Users/vishnuvardhan/anaconda3/lib/python3.11/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

Accuracy score of the training data :  0.960272417707151

In [51]:
X_adult_train_prediction = classifier_knn_a.predict(X_adult_train.values)
training_data_accuracy = accuracy_score(X_adult_train_prediction, Y_adult_train)

print('Accuracy score of the training data : ', training_data_accuracy)

Accuracy score of the training data :  0.9698795180722891

/Users/vishnuvardhan/anaconda3/lib/python3.11/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

In [52]:
X_child_test_prediction = classifier_knn_c.predict(X_child_test.values)
testing_data_accuracy = accuracy_score(X_child_test_prediction, Y_child_test)
print('Accuracy score of the testing data : ', testing_data_accuracy)

Accuracy score of the testing data :  0.9596412556053812

/Users/vishnuvardhan/anaconda3/lib/python3.11/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

In [53]:
X_teen_test_prediction = classifier_knn_t.predict(X_teen_test.values)
testing_data_accuracy = accuracy_score(X_teen_test_prediction, Y_teen_test)
print('Accuracy score of the testing data : ', testing_data_accuracy)

Accuracy score of the testing data :  0.9276018099547512

/Users/vishnuvardhan/anaconda3/lib/python3.11/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

In [54]:
X_adult_test_prediction = classifier_knn_a.predict(X_adult_test.values)
testing_data_accuracy = accuracy_score(X_adult_test_prediction, Y_adult_test)
print('Accuracy score of the testing data : ', testing_data_accuracy)

Accuracy score of the testing data :  0.9518072289156626

/Users/vishnuvardhan/anaconda3/lib/python3.11/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(